body{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color:rgb(26, 26, 26);
	color: white;
	margin: 0;
	text-align: center;
}

.navbar{
	overflow: hidden;
	background-color: rgb(59,59,59);
	
}
.navbar .active{
	color: white;
	padding: 12px 12px;
    text-decoration: none;
    background-color: #455ece;
    text-align: center;
	float: left;
}
.navbar .inactive{
	color: white;
    padding: 12px 12px;
    text-decoration: none;
	text-align: center;
	float: left;
}
.navbar .inactive:hover{
    background-color: rgb(92, 92, 92);
}

/* Main page */
#pImage{
	position: absolute;
	max-width: 50%;
	left: 70%;
	max-height: auto;
	box-shadow: 5px 2px 5px black;
	border-radius: 15px;
	top: 40%;
}

#fpImage{
	position: absolute;
	max-width: 50%;
	max-height: auto;
	box-shadow: 5px 2px 5px black;
	border-radius: 15px;
}

#sImage{
	position: absolute;
	max-width: 50%;
	max-height: auto;
	right: 70%;
	box-shadow: 5px 2px 5px black;
	border-radius: 15px;
	top: 30%;

}

#imagesContainer{
	margin: auto;
	width: 100%;
	height: 600px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* Information Page */
.info{
	text-align: center;
	margin-left: 250px;
	margin-right: 250px;
}

/* Progress Page */
progress{
	border-radius: 7px;
	width: 40%;
	box-shadow: 1px 1px 1px rgb(0, 0, 0);
}
progress::-webkit-progress-value{
	border-radius: 7px;
	background-color: #455ece;

}
progress::-webkit-progress-bar{
	border-radius: 7px;
	background-color: rgb(70, 70, 70);
}
.percent{
	margin-top: -20px;
}

.termBody{
	text-align: center;
	margin-left: 250px;
	margin-right: 250px;
}

.termBody b{
	font-size: 25px;
}

.summaryBtn {
	text-decoration: none;
	color: white;
	background-color:#455ece;
	border-radius: 4px;
	padding: 5px 10px;
	text-align: center;
	box-shadow: 1px 1px 5px rgb(0, 0, 0);
}

/* Games Page */
.gameGifs video{
	box-shadow: 0px 0px 10px rgb(0, 0, 0);
	border-radius: 7px;
}
.gameInfo{
	text-align: center;
	margin-left: 250px;
	margin-right: 250px;
}
.gamesBtn{
	text-decoration: none;
	color: white;
	background-color:#455ece;
	border-radius: 4px;
	padding: 5px 10px;
	text-align: center;
	box-shadow: 1px 1px 5px rgb(0, 0, 0);
}